<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>COPS, IIT(BHU)</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="COPS, IIT(BHU)" name="keywords">
    <meta content="Official Website of Club of Programmers, IIT(BHU) Varanasi" name="description">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/main.css?alt=media&token=e8f1fba7-0d28-4fd2-aa2b-de1fbcb4162e">

    <!-- CSS Files-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body style="font-family: Roboto">

<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="/"><img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/logo.png?alt=media&token=8f365979-3c9e-4dc7-8ec1-a70e9d01eb4b" alt="" title=""/></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="/timeline">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/cops-iitbhu?tab=repositories">Repositories</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <!-- Use this file to add header and footer to an html page -->
    {% block content %}{% endblock %}
</div>


<!-- #footer -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>COPS</strong>. All Rights Reserved
        </div>

        <div class="credits">

        </div>
    </div>
    <div class="social-links text-center">
        <a href="https://www.facebook.com/cops.iitbhu/" target="_blank" class="facebook"><i class="fa fa-facebook"
                                                                                            title="Follow us on Facebook"></i></a>
        <a href="https://github.com/COPS-IITBHU/" target="_blank" class="github"><i class="fa fa-github"
                                                                                    title="follow us on GitHub"></i></a>
        <a href="https://groups.google.com/forum/#!forum/cops-summer-bootcamp" target="_blank" class="google"><i
                class="fa fa-google" title="Join our Google Group"></i></a>
        <a href="https://cops-iitbhu.slack.com/" target="_blank" class="slack"><i class="fa fa-slack"
                                                                                  title="Join our workspace on Slack"></i></a>
        <a href="http://codeforces.com/group/kBMG2k5WAX/blog" target="_blank" class="code"><i class="fa fa-code"
                                                                                              title="Join our group on Codeforces"></i></a>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
</html>