{% extends "base.html" %}

{% block content %}

<section id="hero">
    <div class="hero-container">
        <div class="cc-profile-image"><a><img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/logo512x512.jpg?alt=media&token=2064a481-42ad-482e-bd0f-bc577a2fa3c6" alt="Image"/></a></div>
        <h1 style="color:#f7f7f7;">Welcome to COPS</h1>
        <div class="btn-group">
            <div class="text-center btn-space">
                <div class="icon-circle">
                    <a href="https://www.facebook.com/cops.iitbhu/" target="_blank" class="ifacebook"
                       title="Follow us on Facebook"><i class="fa fa-facebook"></i></a>
                </div>
            </div>

            <div class="text-center btn-space">
                <div class="icon-circle">
                    <a href="https://github.com/COPS-IITBHU/" target="_blank" class="igithub"
                       title="Follow us on GitHub"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="text-center btn-space">
                <div class="icon-circle">
                    <a href="https://groups.google.com/forum/#!forum/cops-summer-bootcamp" target="_blank"
                       class="igoogle" title="Follow us on our Google group"><i class="fa fa-google"></i></a>
                </div>
            </div>

            <div class="text-center btn-space">
                <div class="icon-circle">
                    <a href="https://cops-iitbhu.slack.com/" target="_blank" class="islack"
                       title="Join our workspace on Slack"><i class="fa fa-slack"></i></a>
                </div>
            </div>
            <div class="text-center btn-space">
                <div class="icon-circle">
                    <a href="http://codeforces.com/group/kBMG2k5WAX/blog" target="_blank" class="icode"
                       title="Join our group on Codeforces"><i class="fa fa-code"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!-- #hero -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-12 content order-lg-1 order-2">
                    <h2 class="title" style="text-align:center">Few Words About Us</h2>
                    <p>
                        In this age of increasing automation, programming is not only limited to computer science and
                        related fields. Every competent engineer needs to know how to program. This makes <a
                            href="https://www.facebook.com/cops.iitbhu/" target="_blank">Club of Programmers</a> one of
                        the most important clubs in the institute.
                    </p>

                    <p>
                        Club of Programmers (or better known as COPS) understands this responsibility and plays a
                        crucial part in maintaining the coding culture in the institute. Introductory workshops are held
                        for freshers to introduce them to the various facets of programming. Regular competitions are
                        held for the general student body to test and sharpen their programming skills. COPS also has an
                        essential role in the successful conduction of Technex, the institute’s techno-management
                        festival. ICM(International Coding Marathon) event organised by COPS in <a
                            href="https://www.facebook.com/technexiitbhu/" target="_blank">Technex</a>, the technical
                        fest of IIT(BHU), attracts the maximum participation in the fest.
                    </p>
                    <p>

                        Although the club has been functioning quite well as compared to other clubs, still a lot needs
                        to be done. Some great initiatives were taken by the current secretaries, including the
                        formation of smaller groups focussed on specific areas (competitive programming group,
                        development group and machine learning group) and the fresher’s mentorship program. Still there
                        are lot of things that the club can improve upon. We hope that we are able to take this momentum
                        forward.</p>
                </div>
            </div>
        </div>
    </section><!-- #about -->


    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">


                </div>
                <div class="col-lg-3 cta-btn-container text-center">

                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Stats</h3>
                <p class="section-description"></p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-fixed">34</span>
                    <p>Team members</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-fixed">26</span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-fixed">4,543</span>
                    <p>Hours Of Work</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-fixed">100</span>
                    <p>Determination</p>
                </div>

            </div>

        </div>
    </section><!-- #facts -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">


                </div>
                <div class="col-lg-3 cta-btn-container text-center">

                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contact Us</h3>
                <p class="section-description" style="text-color:black"><strong>Feel free to contact us.</strong></p>
            </div>
        </div>

        <div class="container wow fadeInUp">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker" style="font-size:30px; text-align:center"></i>
                            <p>IIT(BHU) Varanasi,<br>U.P.<br>India - 221005</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope" style="font-size:30px; text-align:center"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone" style="font-size:30px; text-align:center"></i>
                            <p>+91 91317 19519</p>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>

<!-- JavaScript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.9.0/jquery.hoverIntent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.9/js/superfish.min.js"></script>

<!-- Template Main Javascript File -->
<script src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/main.js?alt=media&token=8940401d-3a6d-4b0b-a418-bfa7640cd587"></script>


{% endblock %}