{% extends "base.html" %}

{% block content %}

		<link href="https://cdn.jsdelivr.net/npm/pgwslider@2.3.1/pgwslider.min.css" rel="stylesheet">
		<link href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/mihil%2Fstyle.css?alt=media&token=cc67361d-2293-43d8-b36b-9023f3e01707" rel="stylesheet" media="screen">
		<link href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/mihil%2Fresponsive.css?alt=media&token=bb1294e2-717a-4a15-a2f2-b7bd3d7da061" rel="stylesheet" media="screen">
		
		<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
					
					<div class="clearfix content">
						<div class="content_title"><h2>Latest Blog Post</h2></div>
						{% for post in list_of_posts %}
						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<div class="date">
									<img src="{{post.3}}" style="height:100px;"><!-- month -->
								</div>
							</div>
							<div class="clearfix post_detail">
								<h1><a href="">{{ post.0 }}</a></h1><!-- title -->
								<div class="clearfix post-meta">
									<p><span><i class="fa fa-user"></i>{{ post.1 }}<!-- name--></span> <span><i class="fa fa-clock-o"></i>{{ post.4}}</span>{% for i in post.2 %}<span>{{i}}</span>{% endfor %}</p>
								</div>
								<div class="clearfix post_excerpt floatleft">
									{{ post.6 }}<!-- data -->
								</div>
								<a href="/markdown/?id=posts/{{ post.5 }}" class="btn btn-primary">Read More</a>
							</div>
						</div>
						{% endfor %}						
					</div>

				</div>
				<div class="clearfix sidebar_container floatright">
						<div class="clearfix single_sidebar category_items">
							<h2>Categories</h2>
							<ul>
								<li class="cat-item"><a href="">Competitive Programming</a>(12)</li>
								<li class="cat-item"><a href="">Machine Learning</a>(12)</li>
								<li class="cat-item"><a href="">Development</a>(12)</li>
								<li class="cat-item"><a href="">Cryptography</a>(12)</li>
								<li class="cat-item"><a href="">Information Security</a>(12)</li>
							</ul>
						</div>
					</div>
				</div>
		</section>
		
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>	
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>		
		<script type="text/javascript">
			$(document).ready(function() {
				$('.tooltip').tooltipster();
			});
		</script>
		 <script type="text/javascript" src="https://cdn.bootcss.com/selectnav.js/0.1.0/selectnav.min.js"></script>
		<script type="text/javascript">
			selectnav('nav', {
			  label: '-Navigation-',
			  nested: true,
			  indent: '-'
			});
		</script>		
		<script src="https://cdn.jsdelivr.net/npm/pgwslider@2.3.1/pgwslider.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.pgwSlider').pgwSlider({
					
					intervalDuration: 5000
				
				});
			});
		</script>
{% endblock %}