{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/timeline%2Fcss%2Ftemplatemo-style.css?alt=media&token=e74bce49-aa73-49e3-9bbb-268b3d135511">

    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Timeline</h4>
                    <p>What we have done</p>
                </div>
            </div>
        </div>
    </div>

    <div id="second-section2">
        <div class="container">
             <div class="row">
                <div class="triangle"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <section id="cd-timeline-2" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/camera_icon.png?alt=media&token=856c51b4-fadd-4136-a8b8-2b92270a1f2a" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/project-1.jpg?alt=media&token=70890aad-0299-41e2-9d5d-809f07be7e5a" alt="">
                                <div class="project-content">
                                    <h2>Donec at scelerisque</h2>
                                    <span>18 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/camera_icon.png?alt=media&token=856c51b4-fadd-4136-a8b8-2b92270a1f2a" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/project-2.jpg?alt=media&token=1816580e-a026-4533-b358-77aabea68bd5" alt="">
                                <div class="project-content">
                                    <h2>Nullam hendrerit ultrices</h2>
                                    <span>12 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/camera_icon.png?alt=media&token=856c51b4-fadd-4136-a8b8-2b92270a1f2a" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/project-3.jpg?alt=media&token=2757e67c-6bf3-4d4f-b747-a74a9aa8d8ab" alt="">
                                <div class="project-content">
                                    <h2>Quisque mollis diam</h2>
                                    <span>10 December 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/camera_icon.png?alt=media&token=856c51b4-fadd-4136-a8b8-2b92270a1f2a" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/project-4.jpg?alt=media&token=395986eb-522f-4627-9f6b-c9cf1aef06b7" alt="">
                                <div class="project-content">
                                    <h2>Etiam a ultricies</h2>
                                    <span>30 November 2084</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/camera_icon.png?alt=media&token=856c51b4-fadd-4136-a8b8-2b92270a1f2a" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/project-5.jpg?alt=media&token=b275bc6f-11ed-47e6-a6ac-c4fb9492d103" alt="">
                                <div class="project-content">
                                    <h2>Curabitur interdum</h2>
                                    <span>22 November 2084</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascripts -->
    <script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/modernizr.min.js?alt=media&token=a75b66b4-fc75-4947-9dd7-2e59c9b78e49"></script>
    <script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/cops-iitbhu.appspot.com/o/custom.js?alt=media&token=cef55bbe-5266-41c5-9938-6123fdeb0f3f"></script>
{% endblock %}